# =========================
# VARIABLES DE ENTORNO
# =========================

.env
.env.*
!.env.example


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/


# =========================
# NODE / REACT
# =========================

node_modules/
dist/
build/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# SISTEMA OPERATIVO
# =========================

.DS_Store
Thumbs.db


# =========================
# LOGS
# =========================

*.log