.dashboard {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
}

.dashboard h1 {
    margin-bottom: 5px;
}

.dashboard p {
    color: #666;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card h3 {
    margin-top: 0;
    color: #555;
}

.card strong {
    font-size: 32px;
}




.main-content {
    margin-left: 250px;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

/* =========================
   TABLAS SSEE
========================= */

.ssee-table-container {
    width: 100%;

    background: #fffaf0;

    border-radius: 14px;

    overflow: hidden;

    border: 1px solid rgba(188, 79, 79, 0.15);

    box-shadow:
        0 4px 12px rgba(188, 79, 79, 0.08);
}


/* TABLA */

.ssee-table {
    width: 100%;

    border-collapse: collapse;
}


/* CABECERA */

.ssee-table thead {
    background: #BC4F4F;
}

.ssee-table th {
    padding: 15px 18px;

    text-align: left;

    font-size: 13px;

    font-weight: 600;

    color: #FEF2A0;

    text-transform: uppercase;

    letter-spacing: 0.4px;
}


/* CELDAS */

.ssee-table td {
    padding: 15px 18px;

    border-bottom: 1px solid rgba(188, 79, 79, 0.10);

    color: #5f4545;

    font-size: 14px;
}


/* FILAS */

.ssee-table tbody tr {
    background: #fffaf0;

    transition:
        background 0.2s ease,
        transform 0.2s ease;
}


/* HOVER */

.ssee-table tbody tr:hover {
    background: #FEF2A0;
}


/* ÚLTIMA FILA */

.ssee-table tbody tr:last-child td {
    border-bottom: none;
}